*{
  margin: 0;
  padding: 0;
}
/* common shared styles */
body{ font-family: 'Open Sans', sans-serif;}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #FFF8F3;
  margin: 0 200px;
}
.orange-primary{
  color: #FD6E0A;
}
.nav-title{
  color: #181818;
font-size: 45px;
font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: var(--dark-02, #474747);
}
.button-primary{
  border-radius: 5px;
  background: #FD6E0A;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--white-color, #FFF);
  padding: 18px 35px;
  align-items: center;
}
.header{
  background-color: #FFF8F3;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-pic{
  width: 520px;
}
.banner-greeting{
  color: var(--dark-02, #474747);
font-size: 45px;
font-weight: 600;
margin-bottom: 0px;
}
.banner-heading{
  color: var(--dark-01, #181818);
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 0px;
}
.banner-discription{
  color: var(--dark-03, #757575);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 20px;
margin-bottom: 30px;
}